<div class="col-xl-5 col-lg-6 col-sm-8">
    <ul class="contact-info d-flex justify-content-end">
        <li>
            <span><i class="fa fa-phone"></i> +02 0120 2651 021</span>
            <span><i class="fa fa-fax"></i> +00 425 356 4518</span>
        </li>
        <li>
            <span><i class="fa fa-envelope"></i> info@youremail.com</span>
            <span><i class="fa fa-paper-plane-o"></i> www.yourwebsite.com</span>
        </li>
    </ul>
</div>