<div class="header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-9 d-none d-sm-block">
                <ul class="mainmenu d-flex justify-content-end">
                    <li class="active"><a href="javascript:void(0);">Home <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="index.html">Home Main</a></li>
                            <li><a href="index2.html">Home Two</a></li>
                            <li><a href="index3.html">Home Three</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">about us</a></li>
                    <li><a href="javascript:void(0);">pages</a>
                        <ul>
                            <li><a href="service.html">Service Page</a></li>
                            <li><a href="service-details.html">Service Details</a></li>
                            <li><a href="shop.html">Shop page</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">blog</a>
                        <ul>
                            <li><a href="blog.html">Blog page</a></li>
                            <li><a href="blog-left.html">Blog Left</a></li>
                            <li><a href="blog-right.html">Blog right</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-3 col-8">
                <div class="geta_quote">
                    <a href="#">GET A QUOTE?</a>
                </div>
            </div>
            <div class="d-block d-sm-none col-4 pull-right">
                <ul class="menu">
                    <li class="first"></li>
                    <li class="second"></li>
                    <li class="third"></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- responsive-menu area start -->
    <div class="responsive-menu-area d-block d-sm-none">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="metismenu">
                        <li class="sidemenu-items"><a class="has-arrow" aria-expanded="false"
                                href="javascript:void(0);">Home</a>
                            <ul aria-expanded="false">
                                <li><a href="index.html">Home Main</a></li>
                                <li><a href="index2.html">Home Two</a></li>
                                <li><a href="index3.html">Home Three</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">about us</a></li>
                        <li><a href="#">pages</a></li>
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- responsive-menu area start -->
</div>