<div class="col-xl-2 col-lg-3 col-12 d-none d-lg-block">
    <ul class="social-icon d-flex justify-content-end justify-content-sm-center">
        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
    </ul>
</div>